@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'M PLUS 1 Code', sans-serif;
}

:root{
    --nav-width: 92px;
    --first-color: #0C5DF4;
    --bg-color: #12192C;
    --sud-color: #B6CEFC;
    --white-color: #FFF;
    --body-font: 'M PLUS 1 Code', sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --z-fixde: 100;
}
*, ::before, ::after{
    box-sizing: border-box;
}
body{
    position: relative;
    margin: 0;
    padding: 2rem 0 0 6.75rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
  }
  h1{
    margin: 0;
  }
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  .l-navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--white-color);
    padding: 1.5rem 1.5rem 2rem;
    transition: .5s;
    z-index: var(--z-fixed);
  }
  .nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }
  .nav__brand{
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
  .nav__toggle{
    font-size: 1.25rem;
    padding: .75rem;
    cursor: pointer;
  }
  .nav__logo{
    color: var(--white-color);
    font-weight: 600;
  }
  
  .nav__link{
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: .75rem;
    padding: .75rem;
    color: var(--white-color);
    border-radius: .5rem;
    margin-bottom: 1rem;
    transition: .3s;
    cursor: pointer;
  }
  .nav__link:hover{
    background-color: var(--first-color);
  }
  .nav__icon{
    font-size: 1.25rem;
  }
  .nav__name{
    font-size: var(--small-font-size);
  }
  .expander{
    width: calc(var(--nav-width) + 9.25rem);
  }
  .body-pd{
    padding: 2rem 0 0 16rem;
  }
  .active{
    background-color: var(--first-color);
  }
  .collapse{
    grid-template-columns: 20px max-content 1fr;
  }
  .collapse__link{
    justify-self: flex-end;
    transition: .5s;
  }
  .collapse__menu{
    display: none;
    padding: .75rem 2.25rem;
  }
  .collapse__sublink{
    color: var(--sub-color);
    font-size: var(--small-font-size);
  }
  .collapse__sublink:hover{
    color: var(--white-color);
  }
  
  /*Show collapse*/
  .showCollapse{
    display: block;
  }
  
  /*Rotate icon*/
  .rotate{
    transform: rotate(180deg);
  }
  body{
    background-color: #E6E6FA;
  }

  h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9370DB;
  }
.imge{
    margin-left: 530px;
    animation-name: movein;
    animation-duration: 2s;
    color: #4169E1;
}
img{
    border-radius: 8px;
    border: solid 2px #6A5ACD;
}
img:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
  .record.record__item.record__school {
    font-family: 'Sriracha', cursive;
    white-space: pre;
    display: flex;
    align-items: center;
  }
  .record {
    white-space: pre;
   margin-left: 400px;
   color: #4169E1;
   animation-name: movein;
    animation-duration: 2s;
  }
  @keyframes movein{
    0%{
        transform: translateY(100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}
  .record__school{
    font-family: 'Sriracha', cursive;
  }
  .hobby{
    animation-name: movein;
    animation-duration: 5s;
    margin-left: 450px;
    align-items: center;
    justify-content: center;
  }
  .hobby__name {
    font-family: 'Sriracha', cursive;
    color: #6A5ACD;
    
  }